<div class="container-fluid creator-cmp text-white d-flex align-items-center justify-content-md-center">
    <div class="card card-lg bg-transperent p-2 m-3">
        <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Mahadev K</h5>
                <div class="card-text mt-4">
                    An Engineer solving the recursive puzzles of life.
                    Too much interested in science, science-fiction, programming and may be gaming.
                    I would like to explore vast boundaries of what I learn and love..:)
                    <hr>
                    Connect:<br><br>
                    <hr>
                    Favaorites 🤩 <br><br>
                    Movies 🎥 : Interstellar, Inception, The Dark Knight Triology, Marvel movies 
                    (Special likes for Iron Man, Captain America and All Avengers Assemble), All izz well,
                    Taare Zameen Par.
                    <br><br>
                    Series 📺 : The Expanse(Waiting for S6), Dark, Stranger Things, Tvf Aspirants
                    , Kota Factory, Family Man, Money Heist.
                </div>
              </div>
            </div>
          </div>
    </div>

</div>