<div class="container-fluid creator-cmp text-white d-flex align-items-center justify-content-md-center">
    <div class="card card-lg bg-transperent p-2 m-3">
        <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Mahadev K</h5>
                <div class="card-text">
                    A curious little software developer to say about myself.
                    Too much interested in science, science-fiction, programming and may be gaming.
                    I would like to explore vast boundaries of what I learn and love..:)
                    <hr>
                    Connect:<br><br>

                    <hr>
                    Fun fact:
                    <br><br>
                    I thought of putting a Hydrogen Bomb out there in the Mars...
                    So that it can generate water in the due process and due to the heavy energy release
                    it might create some new compounds xD... Later when I got my first broad band connection(10<sup>th</sup> vacation)
                    I googled my thought.. This was the first time I saw the name
                    <strong>Elon Musk</strong>... 
                </div>
              </div>
            </div>
          </div>
    </div>

</div>