<div class="container-fluid creator-cmp text-white d-flex align-items-center justify-content-md-center">
    <div class="card card-lg bg-transperent p-2 m-3">
        <div class="row g-0">
            <div class="col-md-4">
              <img src="../../assets/Creators/Mahadev_K.jpg" 
                    class="img-fluid rounded-circle" 
                   
                    alt="mahadev_k">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Mahadev K</h5>
                <div class="card-text mt-4">
                    An Engineer solving the recursive puzzles of life.
                    Too much interested in science, science-fiction, programming and may be gaming.
                    I would like to explore vast boundaries of what I learn and love..:)
                    <hr>
                    🧰 Languages and Tools:
                    <p class="mt-3">
                      <img src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png"/>
                      <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v2.png"/>
                      <img src="https://img.icons8.com/color/48/000000/spring-logo.png"/>
                      <img src="https://img.icons8.com/color/48/000000/html-5--v1.png"/>
                      <img src="https://img.icons8.com/color/48/000000/css3.png"/>
                      <img src="https://img.icons8.com/color/48/000000/bootstrap.png"/>
                      <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png" alt="Javascript" height="40" style="vertical-align:top; margin:4px">
                      <img src="https://img.icons8.com/color/48/000000/angularjs.png"/>
                      <img src="https://img.icons8.com/office/48/000000/react.png"/>
                      <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/python/python.png" alt="Python" height="40" style="vertical-align:top; margin:4px">
                      <img src="https://img.icons8.com/color/48/000000/git.png"/>
                      <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/visual-studio-code/visual-studio-code.png" alt="VS Code" height="40" style="vertical-align:top; margin:4px">
                      <img src="https://img.icons8.com/office/48/000000/java-eclipse.png"/>
                    </p>
                    <hr>
                    Connect:<br>
                    <a href="https://www.linkedin.com/in/mahadev-k-934520223/">
                      <img src="https://img.icons8.com/color/48/000000/linkedin.png"/>
                    </a>
                    <a href="https://github.com/mahadev-k">
                      <img src="https://img.icons8.com/color-glass/48/000000/github.png"/>
                    </a>
                    <a href="https://www.hackerrank.com/mahadev_krishnan">
                      <img src="../../assets/Icons/4373234_hackerrank_logo_logos_icon.png"/>
                    </a>
                    <hr>
                    Favaorites 🤩 <br><br>
                    Movies 🎥 : Interstellar, Inception, The Dark Knight Triology, Marvel movies 
                    (Special likes for Iron Man, Captain America and All Avengers Assemble), All izz well,
                    Taare Zameen Par.
                    <br><br>
                    Series 📺 : The Expanse(Waiting for S6), Dark, Stranger Things, Tvf Aspirants
                    , Kota Factory, Family Man, Money Heist.                    
                </div>
              </div>
            </div>
          </div>
    </div>

</div>