<div class="container-fluid about-cmp text-white d-flex align-items-center justify-content-md-center">
    <div class="card-lg sc5">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-8">
                    <p>
                        Dev-Build is a project that is developed so as to explore various tech stacks,
                        features each of them offer and how can we use them to solve a problem.
                        An Engineer is always a problem solver :D, so the project is currently about vizualizing the
                        working of an algorithm by hitting backend stack from front end.
                        The challenge was that we have to monitor the changes done by algorithm to the data close to realtime.
                        The challenge is not much hard though and so the project now houses 3 different sorting algorithms
                        and the binary search algorithm.
                        <br>
                        <br>
                        These algorithms are visualized with the help of Java backend and Chart Js in front end.
                    </p>
                    <p>
                        This whole project is built on Spring boot and Angular stack.
                        <br>
                        Git Repo : link
                        <br>
                        I hope you liked this project ^_^ and if so please like share and star the repo :).
                    </p>
                    <div>
                        Probably you might be thinking, hey I had seen this background image somewhere before.
                        And you are right it is from <strong>"Interstellar"</strong>.But the image is repeated
                        though... does it have any meaning??? I think you did watch a famous german series too!!!!.
                        <br>
                        <br>
                        <strong>Thanks for reading till the end..:)</strong>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
