<div class="container-fluid about-cmp">
    <div class="container mt-4">
        <section class="card br-15 blue about-section">
            <div class="row p-4">
                <h1>Dev - Build.</h1>
            </div>
            <hr>
            <div class="row p-4">
                <p>
                    Dev - Build is a project that helps in understanding
                    sorting algorithms and binary search algorithm. The project is built of <b>Spring Boot</b> and <b>Angular</b>
                    stack.
                    Project uses <b>Chart Js</b> for visualizing the working of an algorithm.
                </p>
                <div class="tech-stack d-flex justify-content-md-center flex-column">
                    <div class="row">
                        <div class="col-6"><a href="https://angular.io/">
                                <button class="btn btn-md">Angular</button>
                            </a></div>
                        <div class="col-6"><a href="https://www.chartjs.org/">
                                <button class="btn btn-md">Chart Js</button>
                            </a></div>
                        <div class="col-6"><a href="https://getbootstrap.com/">
                                <button class="btn btn-md">Bootstap</button>
                            </a></div>
                        <div class="col-6"><a href="https://highlightjs.org/">
                                <button class="btn btn-md">Highlight Js</button>
                            </a></div>
                    </div>
                    <div class="row m-auto">
                        <a href="https://spring.io/projects/spring-boot">
                            <button class="btn mt-4 mb-4 btn-md">Spring Boot</button>
                        </a>
                    </div>
                </div>
                <div class="repos row m-2">
                    <h4>Github repos</h4>
                    <div class="col-6"><a href="https://github.com/mahadev-k/algoservice.git">
                            <button class="btn btn-md">Algoservice
                            </button>
                        </a></div>
                    <div class="col-6"><a href="https://github.com/mahadev-k/dev-ng-build.git">
                            <button class="btn btn-md">Dev-ng-Build
                            </button>
                        </a></div>
                </div>
                <div class="credits row">
                    <h5>Credits</h5>
                    <div class="col-6">

                        <a href="https://www.youtube.com/user/mycodeschool"><button class="btn btn-md">
                                MyCodeSchool
                            </button></a>
                    </div>
                    <div class="col-6">

                        <a href="https://www.geeksforgeeks.org/"><button class="btn btn-md">
                                GeeksForGeeks
                            </button></a>
                    </div>
                    <div class="col-6">

                        <a href="https://freefrontend.com"><button class="btn btn-md">
                                Freefrontend
                            </button></a>
                    </div>
                    <div class="col-6">

                        <a href="https://www.flaticon.com/"><button class="btn btn-md">
                                FlatIcons
                            </button></a>
                    </div>
                    <div class="col-12">

                        <a href="https://www.frontendtrick.com/">
                            <button class="btn btn-md m-auto">
                                Frontendtrick
                            </button></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>