<div class="container-fluid about-cmp">
    <div class="container mt-4">
        <section class="card br-15 blue about-section">
            <div class="row p-4">
                <h1 class="darkBlue">Dev - Build.</h1>
            </div>
            <hr>
            <div class="row p-4">
                <p>
                    Dev-build is a hobby project developed on free time. Currently dev-build helps in understanding
                    sorting algorithms and binary search algorithm. The project uses <b>Chart Js</b>
                    for visualizing the working of an algorithm. Projects Front-End tech stack consists of
                </p>
                <ul class="tech-stack rounded p-4" >
                    <li>Angular</li>
                    <li>Chart Js</li>
                    <li>Bootstap</li>
                    <li>Highlight Js</li>
                </ul>
                <p>
                    Applications backend is built with spring boot. The backend application exposes various endpoints
                    to sort the data as well as to monitor the current state of the sorted data (partially sorted data).
                </p>
                <h4>Github repos</h4>
                <p><a href="https://github.com/mahadev-k/algoservice.git">Algoservice</a></p>
                <p><a href="https://github.com/mahadev-k/dev-ng-build.git">Dev-ng-Build</a></p>
            </div>
        </section>
    </div>
</div>
