<div class="container-fluid sort-cmp">

    <div class="container mt-4">

        <section class="sortSection">
            <div class="row p-4">
                <div class="col-sm-10">
                    <h1>Sorting Algorithms</h1>
                </div>
                <div class="col-sm-2">
                    <select class="form-select" #sortId (change)="updateCardInfo(sortId.value)">
                        <option *ngFor = "let id of sortIds" [value]="id" >
                            {{id | titlecase}}
                        </option>
                    </select>
                </div>
            </div>
            <app-sort-card
                [cardInfo]="currentCardInfo"
                [sortArr]="sortArr"
                [processingMap]="processingMap"
                [defaultDelayInExec]="monitorTime"
                [canvasId]="currentSortId"
                [sortTitle]="currentCardInfo.title"
                (sort)="sortFn($event)"
            >
            </app-sort-card>

        </section>

    </div>

</div>