<div class="container-fluid sort-cmp">

    <div class="container mt-4">

        <section class="sortSection">
            <div class="row p-4">
                <div class="col-sm-10">
                    <h1>Sorting Algorithms</h1>
                </div>
                <div class="col-sm-2">
                    <select class="form-select"></select>
                </div>
            </div>
            <div class="card row p-4" appRandomBgColor>
                <div class="row p-4">
                    <h3>Merge Sort</h3>
                </div>
                <div class="row p-4">
                    <p>
                        Merge sort is a divide and conquer algorithm. An unsorted array will be divided and grouped into small units.
                        The smallest group will be a group consisting of one element. Once they are divided to the smallest possible unit,
                        we start merging the group with Sorting applied. Two sorted groups can be merged with a linear time complexity O(N).
                        As we are dividing array into two halves every time until the smallest group is achieved this division can go up to ~ log2N.
                        After the division we still have to visit all the elements so as to get them sorted and so the time complexity will be
                        O(NlogN).
                    </p>
                    <p>
                        ##References
                        <br><br>
                        <a href="https://www.geeksforgeeks.org/merge-sort/#:~:text=Like%20QuickSort%2C%20Merge%20Sort%20is%20a%20Divide%20and,%28%29%20function%20is%20used%20for%20merging%20two%20halves.">
                            Gfg - Merge Sort
                        </a>
                    </p>
                </div>
                <div class="row p-4">
                    <!-- Card-Canvas-Sort Begins -->
                    <app-card-canvas-sort [sortArr]="sortArr"
                            [processingMap]="processingMap"
                            [defaultDelayInExec]="defaultDelayInExec"
                            [canvasId]="'mergeSort'"
                            [sortTitle]="'Merge Sort'"
                            (sort)="mergeSort($event)"></app-card-canvas-sort>
                    <!-- Card-Canvas-Sort Ends -->
                </div>
            </div>

        </section>

         <!-- Heap Sort Starts-->
         <app-card-canvas-sort [sortArr]="sortArr"
                            [processingMap]="processingMap"
                            [defaultDelayInExec]="defaultDelayInExec"
                            [canvasId]="'heapSort'"
                            [sortTitle]="'Heap Sort'"
                            (sort)="heapSort($event)"></app-card-canvas-sort>
        <!-- Heap Sort Ends -->

        <!-- Bubble Sort Starts-->
        <app-card-canvas-sort [sortArr]="sortArr"
                            [processingMap]="processingMap"
                            [defaultDelayInExec]="defaultDelayInExec"
                            [canvasId]="'bubbleSort'"
                            [sortTitle]="'Bubble Sort'"
                            (sort)="bubbleSort($event)"></app-card-canvas-sort>
        <!-- Bubble Sort Ends -->

    </div>

</div>