<div class="container-fluid img-container d-flex justify-content-md-center text-white">

    <div class="d-flex flex-column align-items-md-center justify-content-md-center">

        <!-- Merge Sort Starts -->
        <app-card-canvas-sort [sortArr]="sortArr"
                            [processingMap]="processingMap"
                            [defaultDelayInExec]="defaultDelayInExec"
                            [canvasId]="'mergeSort'"
                            [sortTitle]="'Merge Sort'"
                            (sort)="mergeSort($event)"></app-card-canvas-sort>
        <!-- Merge Sort Ends -->

         <!-- Heap Sort Starts-->
         <app-card-canvas-sort [sortArr]="sortArr"
                            [processingMap]="processingMap"
                            [defaultDelayInExec]="defaultDelayInExec"
                            [canvasId]="'heapSort'"
                            [sortTitle]="'Heap Sort'"
                            (sort)="heapSort($event)"></app-card-canvas-sort>
        <!-- Heap Sort Ends -->

        <!-- Bubble Sort Starts-->
        <app-card-canvas-sort [sortArr]="sortArr"
                            [processingMap]="processingMap"
                            [defaultDelayInExec]="defaultDelayInExec"
                            [canvasId]="'bubbleSort'"
                            [sortTitle]="'Bubble Sort'"
                            (sort)="bubbleSort($event)"></app-card-canvas-sort>
        <!-- Bubble Sort Ends -->

    </div>

</div>