<section class="profile-card-a">
    <div class="card m-4 padding-0 border-0 text-center">
        <div class="header">
            <header>
                <div class="avatar">
                    <img src="../../assets/Creators/Mahadev_K.jpg" 
                    class="img-fluid rounded-circle" 
                    alt="mahadev_k">
                </div>
            </header>
        </div>
        <div class="body">
            <h3>Mahadev K</h3>
            <div class="desc">
                A software developer learning the art of programming 😎.
                Java, Spring and Angular are my companions. 
                Feel free to reach out to collaborate.
            </div>
            <div class="contacts d-flex justify-content-center">
                <a href="mailto:mahadevkrishnan1996@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
        <div class="footer connect">
            <a href="https://github.com/mahadev-k">
                <i class="fab fa-github-alt"></i>
            </a>
            <a href="https://dev.to/mahadev_k">
                <i class="fab fa-dev"></i>
            </a>
            <a href="https://www.linkedin.com/in/mahadev-k-934520223/">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.hackerrank.com/mahadev_krishnan">
                <i class="fab fa-hackerrank"></i>
            </a>
        </div>
    </div>

</section>
