<div class="container-fluid img-container d-flex justify-content-md-center text-white">

    <div class="d-flex flex-column align-items-md-center justify-content-md-center">
        <!-- Binary Search Starts -->
        <div class="card bg-transperent p-3 m-4">
            <div class="card-title">
                <div class="row">
                    <a class="col-sm-8"
                        href="https://www.hackerearth.com/practice/algorithms/searching/binary-search/practice-problems/algorithm/minimum-radius-2-29df5cb3/?utm_source=header&utm_medium=search&utm_campaign=he-search">
                        <h2>Minimum Radius (Binary Search) - Hackerearth</h2>
                    </a>
                    <input class="col-sm-2"
                            #binarySearchToLeftInRef
                            type="number"
                            placeholder="Enter the weight to search"
                    />
                    <button class="btn btn-xs btn-primary col-sm-1 m-auto" 
                            (click)="binarySearchToLeft(binarySearchToLeftEl.id, binaryEls, +binarySearchToLeftInRef.value)"
                    >
                        <span
                            *ngIf="processingMap.get(binarySearchToLeftEl.id) && processingMap.get(binarySearchToLeftEl.id) == true" 
                            class="spinner-border spinner-border-sm"
                            role="status" 
                            aria-hidden="true"></span>
                        Search
                    </button>
                </div>
            </div>
            <div class="card-body bg-white text-dark">
                <br>
                <br>
                <p>
                    The idea is about calculating the cartesian distance of every provided cordinate from (0,0).
                    Sort the Els based on the cartesian distance. Once sorted calculate the total weight each circle will enclose.
                    Then do the binary search.. you can see the code below.

                    While calculating the cartesian distance beware of overflow use 64bit or 128bit representation for the calculation.
                </p>
                <br>
                <br>

                <!-- Error Section -->
                <div id="binarySearchToLeft_Error" class="alert-danger">

                </div>
                <!-- Error Section ends -->

                <canvas #binarySearchToLeftEl id="binarySearchToLeft" width="1000" height="200"></canvas>

                <div class="code p-2">
                    <code class="text-white" data-lang="javascript">

                        <pre>
                            constructor(x:number, y:number, weight:number){{'{'}}

                                this.x = x;
                                this.y = y;
                                this.weight = weight;
                                
                                this.cartesianDistance = this.calculateCartesianDistance(x, y);
                            {{'}'}}
                        
                            calculateCartesianDistance(x:number, y:number):number{{'{'}}
                        
                                return Math.sqrt(x*x + y*y);
                            {{'}'}}
                        </pre>

                        <pre>
                            binaryEls.sort((e1, e2) => e1.cartesianDistance - e2.cartesianDistance);
                        </pre>

                        <pre>
                            let previousWeight:number = 0;
                            for(let bEl of binaryEls){{'{'}}
                                bEl.weight += previousWeight;
                                previousWeight = bEl.weight;
                            {{'}'}}
                        </pre>

                        <pre>
                            while(start{{'<'}}end-1){{'{'}}

                                int mid = (start+end)/2;
                    
                                if(commonEls.get(mid).getWeight() >= maxN){{'{'}}
                                    end = mid;
                                {{'}'}}else{{'{'}}
                                    start = mid;
                                {{'}'}}
                    
                                binarySearchIndex.put(id, commonEls.get(mid));
                    
                                Thread.sleep(timeInMills);
                            {{'}'}}
                        </pre>
                    </code>
                </div>
            </div>
        </div>
        <!-- Binary Search Ends -->
    </div>

</div>