/* You can add global styles to this file, and also import other style files */
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
    --bg-shape-color:linear-gradient(120deg,  #343A4F, #0F1620) ;
    --lightblue: #3D9DEA;
    --darkblue: #4A4EEE;
    --text-color: #D5E1EF;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1.weight1 {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1.darkBlue:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: auto;  
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: fit-content;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue) !important;
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 50%;
     
    }
    .header p {
        width: 30%;
    }
    
}

.card{
    border-radius: 5px !important;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px !important;
}

.card-md{
    max-width: 800px;
    min-height: 365px;
}
.card-sm{
    max-width: 345px;
    min-height: 255px;
}

.card-lg{
    max-width: 800px;
    min-height: 255px;
    min-height: 85vh;
}
.card-xl{
    max-width: 1075px;
    min-height: 255px;
    max-height: 85vh;
    overflow: auto;
}

/* Scroll 5 */
.sc5::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
.sc5::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
.sc5::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #00aeff, #a68eff);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
    box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}

app-root{
    min-height: 100vh;
    min-width: 100vw;
    width: fit-content;
}

.custom-shape-divider-bottom-1633952039 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: auto;
}

.custom-shape-divider-bottom-1633952039 svg {
    display: block;
    width: calc(125% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1633952039 .shape-fill {
    fill: #FFFFFF;
}

.bg-transperent{
    background-color: rgba(252, 252, 252, 0.062) !important; 
}
/* .card:hover{
    transform: scale(1.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} */

.about-cmp{
    font-family: monospace;
}

.creator-cmp{
    font-family: monospace;
    font-weight: 100;
    line-height: 30px;
}

.roboto{
    font-family: monospace, 'Courier New', Courier;
}

.br-15{
    border-radius: 15px !important;
}