<div class="container-fluid img-container d-flex justify-content-md-center">
    <div class = "d-flex flex-column align-items-md-center justify-content-md-center">
        <div class="d-flex align-items-md-center m-3">
            <h2>Welcome to Dev-Build !!!</h2>
        </div>
        <div class="row1-container">
            <div class="col-sm-6">
                <app-card-light-a 
                [cardInfo]="sortAlgoInfo"
                [classes]="'w-2'"></app-card-light-a>
            </div>
            <div class="col-sm-6">
                <app-card-light-a [cardInfo] = "binarySearchInfo"></app-card-light-a>
            </div>

        </div>
    </div>
</div>
